@page "/blazorjs"
@inject IJSRuntime JsRuntime


<h3>BlazorJS</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="(()=>TestConfirmBox(ConfirmMessage))"> Test Confirm Button</button>
</div>
<div class="row">
    <button class="btn btn-success" @onclick="TestSuccess"> Test Toaster Success </button>
    <button class="btn btn-danger" @onclick="TestFailure"> Test Toaster Failure </button>
    <button class="btn btn-success" @onclick="TestSuccess2"> Test Toaster Success </button>
    <button class="btn btn-danger" @onclick="TestFailure2"> Test Toaster Failure </button>
</div>

<div class="row">
    @if (ConfirmResult)
    {


<p>Confirmation has been made!</p>
    }
    else { 
        <p>Confirmation Pending</p>
    }
</div>



@code {


    public string ConfirmMessage = "Are you sure you want to click?";
    public bool ConfirmResult { get; set; }

    private async Task TestConfirmBox(string Message)
    {
        ConfirmResult = await JsRuntime.InvokeAsync<bool>("confirm", Message);
    }

    private async Task TestSuccess()
    {
        await JsRuntime.ToastrSuccess("Success Message");
    }

    private async Task TestFailure()
    {
        await JsRuntime.ToastrError("Failure Message");
    }    
    
    async Task TestSuccess2()
    {
        await JsRuntime.ToastrSuccess2("Success Message");
    }

    private async Task TestFailure2()
    {
        await JsRuntime.ToastrError2("Failure Message");
    }
}

