@page "/project"

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info"> Project Information</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="project/create" class="btn btn-info form-control">Add New Project</NavLink>
    </div>
</div>
<h3>Project View</h3>

@code {

}
